<!DOCTYPE html>
<html lang="en-US" itemtype="http://schema.org/WebSite">
<head>
<title itemprop="name">
        Flatlogic - 404 Page Not Found
      </title>
<meta name="description" content="React, Angular, Vue and Bootstrap templates and admin dashboard themes built by and for professional web developers. Hundreds of components and ready-to-use solutions">
<meta name="keywords" content="react templates, vue templates, angular templates, bootstrap templates, react admin, angular admin, vue admin, admin dashboard, bootstrap themes">

<meta property="og:title" content="Flatlogic - 404 Page Not Found" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image">
<meta property="og:url" content="https://flatlogic.com/templates/sing-app-html5/c" />
<meta property="og:image" content="https://flatlogic.com/assets/flatlogic-197b1b716e3776d7bcee0d4446a3f339a72371f357d349ca2ded532ca543d30a.png" />
<meta property="og:description" content="React, Angular, Vue and Bootstrap templates and admin dashboard themes built by and for professional web developers. Hundreds of components and ready-to-use solutions" />
<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="K6zgeOvbxe6hFx2BB/zELjoTLZ6brohBcjiMG1fse2FjjBnF+9TfslNl2VRXM8shD3Z9O/shNul56ix8FaDp8w==" />
<link rel="preload" as="font" type="font/woff2" crossorigin href="/assets/font-awesome/fontawesome-webfont-7dacf83f51179de8d7980a513e67ab3a08f2c6272bb5946df8fd77c0d1763b73.woff2" />
<link rel="preload" as="font" type="font/woff" crossorigin href="/assets/line-awesome/la-brands-400-14c633773bd885e7553b31688925829b2eb40ab5080f644bc180eeb14862e493.woff" />
<link rel="preload" as="font" type="font/woff" crossorigin href="/assets/line-awesome/la-solid-900-a0d21b2ab40d48860c6ae95e00c9e9ca12ecb34c23ba3b882ed81340d4509c67.woff" />
<link rel="stylesheet" media="all" href="/assets/application-4dc7ad0630c4fd27249729377e5fe226cf4cb8c495608a1a718cf4ce9571742f.css" data-turbolinks-track="reload" async="async" />
<script src="/assets/vendor-9b6ce2684fc2bcd12ba6d6023f85145996a01753296f9f0615aad38fc613ccb7.js" data-turbolinks-track="reload" type="a2cdfe2f85fc76456467a304-text/javascript"></script>
<script src="/assets/application-8f59eeb361ea26a47546fc2134587e35c5a37c9b549ef1c8a3f5f9104b4199e5.js" data-turbolinks-track="reload" async="async" type="a2cdfe2f85fc76456467a304-text/javascript"></script>
<script src="https://accounts.google.com/gsi/client" async defer type="a2cdfe2f85fc76456467a304-text/javascript"></script>
<link rel="shortcut icon" href="/logo.svg">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Flatlogic LLC.">
<meta charset="utf-8">
<meta property="og:site_name" content="Flatlogic" />
<meta name="twitter:site" content="@flatlogic">
<link rel="canonical" href="https://flatlogic.com/templates/sing-app-html5/c" itemprop="url" data-turbolinks-track="false" />
</head>
<body data-basket-notify="" class="loading ">
<div id="g_id_onload" data-client_id="357142835604-g0palmkkve33gsbhfpoq1nlsj3mrhm4d.apps.googleusercontent.com" data-context="signin" data-login_uri="https://flatlogic.com/users/auth/google_one_tap" data-auto_select="true">
</div>
<header class="header">
<div class="container">
<nav class="navbar navbar-default" role="navigation">
<div class="navbar-header">
<button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-top">
<span class="hamburger">
<span class="menui top-menu"></span>
<span class="menui mid-menu"></span>
<span class="menui bottom-menu"></span>
</span>
</button>
<a href="/" class="logo"></a>
</div>
<div class="collapse navbar-collapse navbar-top">
<ul class="nav navbar-nav navbar-right">
<li class="">
<a href="/pricing" class="nav-link-pricing">Pricing</a>
</li>
<li class="nav-item dropdown active">
<a href="/templates">Templates</a>
<span class="label label-warning">
51
</span>
<span class="caret ml-sm"></span>
<nav class="dropdown-menu-custom custom-height dropdown-menu-big">
<div class="row">
<ul class="col-md-4">
<li><h6><span class="">Front-end</span></h6></li>
<li><a href="/templates/react">React Templates & Dashboards</a></li>
<li><a href="/templates/vue">Vue JS Templates & Dashboards</a></li>
<li><a href="/templates/bootstrap">Bootstrap Admin Templates</a></li>
<li><a href="/templates/angular">Angular Templates & Dashboards</a></li>
<li><h6 class="title"><span class="title">Ready-to-use solutions</span></h6></li>
<li><a href="/templates/bookkeeper-react-accounting-template">Bookkeeper Accounting System</a></li>
<li><a href="/templates/user-management-react">User management Template</a></li>
<li><a href="/templates/ecommerce-react-template">Ecommerce React Template</a></li>
<li><h6 class="title"><span class="title">Price</span></h6></li>
<li><a href="/templates/free">Free Web & Mobile Templates</a></li>
<li><a href="/templates/premium">Premium Web & Mobile Templates</a></li>
</ul>
<ul class="col-md-4">
<li><h6><span class="">Back-end</span></h6></li>
<li><a href="/templates/nodejs">Node.js Templates & Dashboards</a></li>
<li><a href="/templates/laravel">Laravel Templates & Dashboards</a></li>
<li><a href="/templates/dotnet">.NET Templates & Dashboards</a></li>
<li>
<li><a href="/templates/java">Java Templates & Dashboards</a></li>
<li><h6 class="title"><span>Design</span></h6></li>
<li><a href="/templates/material">Material Design Templates</a></li>
<li><a href="/templates/classic">Classic Design Templates</a></li>
<li><a href="/templates/transparent">Transparent Design Templates</a></li>
<li><h6 class="title"><span>Mobile</span></h6></li>
<li><a href="/templates/react-native">React Native Mobile Templates</a></li>
</ul>
<div class="col-md-4 info-block">
<div class="row">
<div class="info-wrapper">
<div class="blog-material">
<a class="small-link" href="/contact?subject=I+am+requesting+to+submit+a+template">
<img class="mb-md" src="/assets/welcome/upload-template-4be392e9a32fe0fd5a88cc6029450fac88349860379436dccc7b739714b2025f.svg" alt="blog">
</a>
<h3 class="title mt-0 ff-mulish">Willing to sell your template? Submit to our marketplace!</h3>
</div>
<a class="small-link mb-lg" href="/contact?subject=I+am+requesting+to+submit+a+template">
Submit a theme / Start selling
<i class="las la-arrow-right"></i>
</a>
</div>
</div>
</div>
</div>
</nav>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="/services">
Services
</a><span class="caret ml-sm"></span>
<div class="dropdown-menu-custom dropdown-menu-sm">
<div class="row">
<ul>
<li><a href="/services/web-development">Web App Development</a></li>
<li><a href="/services/mobile-development">Mobile App Development</a></li>
<li><a href="/services/legacy-upgrade">Legacy Apps Adapt/Upgrade</a></li>
<li><a href="/services/admin-template-integration">Admin Template Integration</a></li>
<li><a href="/services/ui-ux-design">UX/UI Design</a></li>
<li><a class="small-link" href="/services">All Services</a></li>
</ul>
</div>
</div>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#">
Resources
</a><span class="caret ml-sm"></span>
<div class="dropdown-menu-custom dropdown-menu-sm">
<div class="row">
<ul>
<li><h6 class=""><span>Resources</span></h6></li>
<li><a href="/documentation">Documentation</a></li>
<li><a href="/forum/">Forum</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/services">Services</a></li>
<li><a href="/case-studies">Case Studies</a></li>
<li><a href="/features">Feature List</a></li>
<li><a href="/contact">Contact us</a></li>
<li><a href="/affiliate">Affiliate</a></li>
<li><a href="/contact?subject=I+am+requesting+to+submit+a+template">Submit a template / Start selling</a></li>
</ul>
</div>
</div>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="/about">
About
</a><span class="caret ml-sm"></span>
<div class="dropdown-menu-custom dropdown-menu-sm">
<div class="row">
<ul>
<li><h6 class=""><span>About</span></h6></li>
<li><a href="/about">Team</a></li>
<li><a href="/careers">Careers <sup>
<span class="label label-warning">
Hiring
</span>
</sup>
</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/contact">Contact us</a></li>
</ul>
</div>
</div>
</li>
<li>
<a class="btn" id="profile-btn" href="/users/sign_in">Sign in</a>
</li>
</ul>
</div>
</nav>
</div>
</header>
<div class="marketing-campaign-top-container marketing-campaign-top-container-white" id="marketing-campaign-top-section" data-campaign-id="41">
<div class="container">
<div class="row">
<div class="col-md-10 col-sm-9 text-center">
Planning to build a web application 💻? Hire us to deliver 50% faster! 🧑‍💻🧑🏽‍🔬
</div>
<div class="col-md-2 col-sm-12 marketing-campaign-buttons-container">
<a href="https://flatlogic.com/services/web-development" class="btn btn-action btn-">
Free project estimation!
</a>
<button id="marketing-campaign-top-section-close-button" class="btn btn-campaign-close">&times;</button>
</div>
</div>
</div>
</div>
<div class="content">
<section class="fullscreen-page">
<div class="container">
<div class="row">
<div class="col-xs-12 col-md-5">
<h1>404</h1>
<p class="body-1">Unfortunately, the page you are looking for was not found on our server.
Maybe try <a href="/">home page</a>?
</p>
</div>
</div>
<div class="row">
<div class="col-md-3"></div>
<div class="col-xs-12 col-md-9">
<img src="/assets/background-c39d8e441b527b718bb5431300ca37b073d7e104964ae73ed9caa2641a17df7e.svg" alt="">
</div>
</div>
</div>
</section>
</div>
<footer class="footer">
<div class="container">
<div class="row footer-grid">
<div class="col-md-4">
<a href="/" class="footer-logo hidden-xs mb-md">
<span class="sr-only">Flatlogic</span>
</a>
</div>
<div class="col-md-8">
<div class="row">
<div class="col-sm-12">
<form class="form mb">
<p>Be the first to know the latest updates and all the recent trends in web & mobile javascript development.</p>
<div class="form-group" style="width: 50%; display: inline-block;">
<input type="email" class="form-control" id="footer-input" placeholder="your-email@flatlogic.com">
</div>
<button type="submit" class="btn btn-dark btn-sm arrow ml-sm" id="footer-submit" style="vertical-align: inherit;">Send</button>
</form>
</div>
</div>
</div>
</div>
<div class="row footer-grid">
<div class="col-md-4">
<p class="footer-text">Flatlogic is the easiest way to generate React, Angular, Vue boilerplates for full-stack web apps in just 3 steps. We offer a platform
with starters/templates, CRUD app generator and hosting, all combined making a perfect solution for web development.</p>
</div>
<div class="col-md-8">
<div class="row">
<div class="col-md-3">
<section class="footer-links">
<p class="title">Platform</p>
<ul>
<li><a href="/projects/new">Start Web App</a></li>
<li><a href="/solutions">Solutions</a></li>
<li><a href="/templates">Templates</a></li>
<li><a href="/pricing">Pricing</a></li>
<li><a href="/contact?subject=Requesting+a+private+demo%3A+%0A">Private Demo</a></li>
</ul>
</section>
</div>
<div class="col-md-3">
<section class="footer-links">
<p class="title">Resources</p>
<ul>
<li><a href="/documentation">Documentation</a></li>
<li><a href="/forum/">Forum</a></li>
<li><a href="https://www.youtube.com/channel/UCDbyjsN_OkJfKTmg2qN-D2Q/" target="_blank">Video Tutorials</a></li>
<li><a href="/cdn-cgi/l/email-protection#acdfd9dcdcc3ded8eccac0cdd8c0c3cbc5cf82cfc3c1" target="_blank">Contact Support</a></li>
<li><a href="/contact?subject=I+am+requesting+to+submit+a+template" target="_blank">Submit a template</a></li>
</ul>
</section>
</div>
<div class="col-md-3">
<section class="footer-links">
<p class="title">Solutions</p>
<ul>
<li><a href="/generator">Web App generator</a></li>
<li><a href="/headless-cms">Headless CMS</a></li>
<li><a href="/crud-app">CRUD App</a></li>
<li><a href="/admin-panel">Admin Panel</a></li>
<li><a href="/for-business">For business</a></li>
</ul>
</section>
</div>
<div class="col-md-3">
<section class="footer-links">
<p class="title">Company</p>
<ul>
<li><a href="/blog">Blog</a></li>
<li><a href="/about">Team</a></li>
<li><a href="/blog/tag/flatlogic-story-amp-awards/">Our story</a></li>
<li><a href="/careers">Careers</a></li>
<li><a href="/contact?subject=I+want+to+learn+more+about+Flatlogic.+I+am+potentially+interested+in+investing%0A">Investors</a></li>
</ul>
</section>
</div>
</div>
</div>
</div>
</div>
<div class="footer-basement">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-4 col-sm-12">
&copy; 2014-2022 Flatlogic, LLC. All rights reserved.
</div>
<div class="col-lg-6 col-md-4 col-sm-12 footer-social">
<a href="https://www.facebook.com/flatlogic" target="_blank"><i class="svg-facebook"></i></a>
<a href="https://twitter.com/flatlogic/" target="_blank"><i class="svg-twitter"></i></a>
<a href="https://www.youtube.com/channel/UCDbyjsN_OkJfKTmg2qN-D2Q/" target="_blank"><i class="svg-youtube"></i></a>
<a href="https://www.linkedin.com/company/flatlogic/" target="_blank"><i class="svg-linkedin"></i></a>
<a href="https://www.instagram.com/flatlogic_team/" target="_blank"><i class="svg-instagram"></i></a>
<a href="https://www.pinterest.com/flatlogic_team/" target="_blank"><i class="svg-pintrest"></i></a>
<a href="https://medium.com/flatlogic" target="_blank"><i class="svg-medium"></i></a>
<a href="https://github.com/flatlogic" target="_blank"><i class="svg-github"></i></a>
</div>
<span class="col-lg-6 col-md-4 col-sm-12 terms jc-space-between">
<a class="ff-mono" href="/privacy">Privacy policy</a>
<a class="ff-mono" href="/terms">Terms & Conditions</a>
</span>
</div>
</div>
</div>
</footer>
<div class="cookies-privacy-popup animate__animated animate__fadeIn">
<div class="container">
<div class="row">
<div class="col-md-8">
<h5 class="fw-bold">Cookie Consent</h5>
<p class="small">
By continuing to browse or by clicking 'OK', you agree to the storing of cookies on your
device to enhance your site experience and for analytical purposes. To learn more about how we use cookies,
please see our <a href="/privacy">cookies policy</a>.
</p>
</div>
<div class="col-md-4 cookie-button">
<button class="btn btn-gray btn-lg" id='close-cookies-privacy'>OK</button>
</div>
</div>
</div>
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script async type="a2cdfe2f85fc76456467a304-text/javascript" src="/assets/github-button-a769d2ccf2bf91c94fa6d3a07ee61cd589f9511a84f344581f758913711ba58a.js"></script>
<script type="a2cdfe2f85fc76456467a304-text/javascript" src="/assets/analytics-25969a34d15b6220f21f59887eebfc14075896931a7f17896c0757a9bc1e91eb.js"></script>

<script type="a2cdfe2f85fc76456467a304-text/javascript">
  !function (f, b, e, v, n, t, s) {
    if (f.fbq) return;
    n = f.fbq = function () {
      n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
    };
    if (!f._fbq) f._fbq = n;
    n.push = n;
    n.loaded = !0;
    n.version = '2.0';
    n.queue = [];
    t = b.createElement(e);
    t.async = !0;
    t.src = v;
    s = b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t, s)
  }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '712557339116053');
  fbq('track', 'PageView');
</script>
<noscript>
  <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=712557339116053&ev=PageView&noscript=1"/>
</noscript>


<script type="a2cdfe2f85fc76456467a304-text/javascript">
!function(w,d){if(!w.rdt){var p=w.rdt=function(){p.sendEvent?p.sendEvent.apply(p,arguments):p.callQueue.push(arguments)};p.callQueue=[];var t=d.createElement("script");t.src="https://www.redditstatic.com/ads/pixel.js",t.async=!0;var s=d.getElementsByTagName("script")[0];s.parentNode.insertBefore(t,s)}}(window,document);rdt('init','t2_24v7ycks', {"optOut":false,"useDecimalCurrencyValues":true,"aaid":"<AAID-HERE>","email":"<EMAIL-HERE>","externalId":"<EXTERNAL-ID-HERE>","idfa":"<IDFA-HERE>"});rdt('track', 'PageVisit');
</script>


<script type="a2cdfe2f85fc76456467a304-text/javascript" src="https://widget.clutch.co/static/js/widget.js"></script>

<script type="a2cdfe2f85fc76456467a304-text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/4707038.js"></script>


<script type="a2cdfe2f85fc76456467a304-text/javascript">
  !function (e, t, n, s, u, a) {
    e.twq || (s = e.twq = function () {
      s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
    }, s.version = '1.1', s.queue = [], u = t.createElement(n), u.async = !0, u.src = '//static.ads-twitter.com/uwt.js',
        a = t.getElementsByTagName(n)[0], a.parentNode.insertBefore(u, a))
  }(window, document, 'script');
  // Insert Twitter Pixel ID and Standard Event data below
  twq('init', 'o17nd');
  twq('track', 'PageView');

  let twitterAdded = false;

  document.addEventListener("scroll", () => {
    const footerHeight = document.querySelector('body > footer.footer').offsetHeight;
    const bodyHeight = document.body.offsetHeight;
    const scrollNode = document.scrollingElement ?
        document.scrollingElement : document.body;
    const isFooterOnTheDisplay = bodyHeight - footerHeight - window.innerHeight <= scrollNode.scrollTop;
    if (isFooterOnTheDisplay && !twitterAdded) {
      twitterAdded = true;
      const twitterWidgetscript = document.createElement('script');
      twitterWidgetscript.setAttribute('src','https://platform.twitter.com/widgets.js');
      twitterWidgetscript.setAttribute('charset','utf-8');
      twitterWidgetscript.setAttribute('async', '');
      document.body.appendChild(twitterWidgetscript);
    }
  });
</script>
<script type="a2cdfe2f85fc76456467a304-text/javascript" charset="utf-8">
  const footerSubmitBtn = document.getElementById('footer-submit')
  const footerInputForm = document.getElementById('footer-input')
  const apiURL = 'https://api.sendgrid.com/v3/marketing/contacts'
  const token = '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'
  const data = {
    "contacts": [
      {
        "email": ""
      }
    ]
  }

  function validateEmail(email) {
    let re = /\S+@\S+\.\S+/;
    return re.test(email);
  }

  footerSubmitBtn && footerSubmitBtn.addEventListener('click', async (e) => {
    e.preventDefault()
    if(footerInputForm.value && validateEmail(footerInputForm.value)) {
      data.contacts[0].email = footerInputForm.value
      const response = await fetch(apiURL, {
        method: 'PUT',
        headers: {
          'Content-type': 'application/json',
          'Authorization': `Bearer ${token}`, // notice the Bearer before your token
        },
        body: JSON.stringify(data)
      })
      if(response.ok) {
        footerInputForm.value = ''
      }
    }
  })
</script>
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="a2cdfe2f85fc76456467a304-|49" defer=""></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"74b0b1b35f2031ed","token":"490211694f0145c3b0cb21acd4947c5b","version":"2022.8.1","si":100}' crossorigin="anonymous"></script>
</body>
</html>
