/***********************
 * colors
 ***********************/
.pwv-WebViewer {
  --pwv-text-color: #282724;
  --pwv-text-muted-color: #b5b4b0;
  --pwv-text-contrast-color: #ffffff;
  --pwv-selection-color: #006395;
  --pwv-ui-color-100: #f8f7f7;
  --pwv-ui-color-200: #f0f0ef;
  --pwv-ui-color-300: #dad9d8;
  --pwv-ui-color-400: #b5b4b0;
  --pwv-ui-color-500: #676765;
  --pwv-ui-color-600: #282724;
  --pwv-ui-color-700: #000000;
  --pwv-brand-color-100: #ecf6fe;
  --pwv-brand-color-200: #d8edfd;
  --pwv-brand-color-300: #b6ddfb;
  --pwv-brand-color-400: #80c8ff;
  --pwv-brand-color-500: #0d8ff2;
  --pwv-brand-color-600: #0b81da;
  --pwv-brand-color-700: #0f558a;
  --pwv-drop-shadow-1: 0 0 4px rgba(0, 0, 0, 0.1);
  --pwv-drop-shadow-2: 0 0 8px rgba(0, 0, 0, 0.2);
  --pwv-drop-shadow-3: 0 3px 8px rgba(0, 0, 0, 0.3);
}

/***********************
 * viewer
 ***********************/
/***********************
 * dialog
 ***********************/
/***********************
* button
***********************/
/***********************
* popup
***********************/
/***********************
 * toolbar
 ***********************/
/***********************
 * dropdown
 ***********************/
/***********************
 * scrollbar
 ***********************/
/***********************
 * acroForms
 ***********************/
/***********************
 * loader
 ***********************/
/***********************
 * mixins
 ***********************/
.pwv-disabled {
  opacity: 0.4;
}

.pwv-WebViewer--sm .pwv-SmHidden {
  display: none !important;
}

.pwv-WebViewer--md .pwv-MdHidden {
  display: none !important;
}

.pwv-WebViewer--lg .pwv-LgHidden {
  display: none !important;
}

.pwv-Toolbar {
  display: flex;
  position: relative;
  min-height: 42px;
  background-color: var(--pwv-ui-color-100);
  color: var(--pwv-text-color);
}
.pwv-Toolbar--wrap {
  flex-wrap: wrap;
}
.pwv-Toolbar--paddingRight {
  padding-right: 47px;
}
.pwv-Toolbar--center {
  justify-content: center;
}
.pwv-ToolbarItemGroup {
  display: flex;
}
.pwv-ToolbarItemGroup--pushLeft {
  margin-left: auto;
}
.pwv-ToolbarItemGroup--pushRight {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.pwv-ToolbarItem {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: solid 1px transparent;
  border-radius: 0.5rem;
  height: 42px;
  min-width: 42px;
  margin: 4px;
  background-color: var(--pwv-ui-color-100);
  color: var(--pwv-text-color);
  cursor: default;
}
.pwv-ToolbarButton {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: solid 1px transparent;
  border-radius: 0.5rem;
  height: 42px;
  min-width: 42px;
  margin: 4px;
  background-color: var(--pwv-ui-color-100);
  color: var(--pwv-text-color);
  cursor: default;
}
.pwv-ToolbarButton:focus {
  outline: none;
}
.pwv-ToolbarButton:not(:disabled):hover {
  color: var(--pwv-text-color);
  background-color: var(--pwv-ui-color-200);
  border: solid 1px transparent;
}
.pwv-ToolbarButton:not(:disabled):focus {
  color: var(--pwv-text-color);
  background-color: var(--pwv-ui-color-200);
  border: solid 1px transparent;
}
.pwv-ToolbarButton:not(:disabled):active {
  color: var(--pwv-brand-color-700);
  background-color: var(--pwv-ui-color-200);
  border: solid 1px transparent;
}
.pwv-ToolbarButton:not(:disabled):active svg,
.pwv-ToolbarButton:not(:disabled):active img {
  transform: scale(0.94);
}
.pwv-ToolbarButton--selected {
  color: var(--pwv-brand-color-500) !important;
  background-color: var(--pwv-ui-color-200) !important;
  border: solid 1px transparent !important;
}
.pwv-ToolbarButton--disabled {
  color: var(--pwv-text-muted-color) !important;
  background-color: var(--pwv-ui-color-100);
  border: solid 1px transparent;
  cursor: default;
}
.pwv-ToolbarButton .pwv-icon {
  display: block;
  height: 1rem;
}
.pwv-ToolbarButton .pwv-icon svg {
  height: 1rem;
}
.pwv-ToolbarButton__Text {
  display: inline-block;
  padding: 0 0.5rem;
}
.pwv-Toolbar .pwv-CustomButtons {
  display: flex;
}
.pwv-Toolbar .pwv-DropdownPanel {
  z-index: 5;
  top: 48px;
}
.pwv-Toolbar input {
  border: none;
  font-size: 1em;
  height: 28px;
  box-sizing: border-box;
  padding: 3px 6px;
}
.pwv-Toolbar .pwv-ToolbarSeparator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
}
.pwv-WebViewer--sm .pwv-Toolbar .pwv-ToolbarSeparator, .pwv-WebViewer--md .pwv-Toolbar .pwv-ToolbarSeparator {
  width: 10.5px;
}
.pwv-WebViewer--sm .pwv-Toolbar .pwv-ToolbarSeparator {
  display: none;
}
.pwv-Toolbar .pwv-ToolbarSeparator span {
  display: block;
  background-color: var(--pwv-text-color);
  opacity: 0.2;
  width: 1px;
  height: 50%;
  box-sizing: border-box;
}

.pwv-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  padding: 0 1rem;
  margin: 0.5rem;
  color: var(--pwv-text-contrast-color);
  background-color: transparent;
  border: 1px solid var(--pwv-brand-color-400);
  border-radius: 8px;
  transition: all 0.2s;
}
.pwv-WebViewer--sm .pwv-btn {
  margin: 0.5rem;
}
.pwv-btn:not(:disabled):hover {
  color: var(--pwv-text-contrast-color);
  background-color: transparent;
  border: 1px solid var(--pwv-brand-color-100);
}
.pwv-btn:not(:disabled):focus {
  color: var(--pwv-text-contrast-color);
  background-color: transparent;
  border: 1px solid var(--pwv-brand-color-100);
}
.pwv-btn:not(:disabled):active {
  transform: scale(0.98);
  color: var(--pwv-text-contrast-color);
  background-color: transparent;
  border: 1px solid var(--pwv-brand-color-100);
}
.pwv-btn:disabled {
  color: var(--pwv-text-contrast-color);
  background-color: transparent;
  border: solid 1px var(--pwv-brand-color-100);
  opacity: 0.25;
}
.pwv-btn-row {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.pwv-WebViewer--sm .pwv-btn-row {
  flex-direction: column;
}

@keyframes tooltipFadeInDelay {
  0%, 95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
[data-pwv-tooltip]:hover::after {
  content: attr(data-pwv-tooltip);
  position: absolute;
  background-color: var(--pwv-brand-color-500);
  color: #fff;
  padding: 5px 8px;
  z-index: 10000;
  white-space: nowrap;
  font-size: 0.8rem;
  animation: tooltipFadeInDelay 1s ease-in;
  transform: translateX(-50%);
  left: 50%;
}
[data-pwv-tooltip].pwv-tooltip-top::after {
  top: -20px;
}
[data-pwv-tooltip].pwv-tooltip-bottom::after {
  top: 46px;
}
[data-pwv-tooltip].pwv-tooltip-left::after {
  transform: translateX(-100%);
  left: 50%;
}
[data-pwv-tooltip].pwv-tooltip-right::after {
  transform: translateX(0);
  left: 50%;
}

.pwv-contextbar {
  cursor: default;
  z-index: 10;
  padding: 0;
  box-shadow: var(--pwv-drop-shadow-2);
}
.pwv-contextbar .pwv-Toolbar {
  position: relative;
  z-index: 2;
  min-height: 37.8px;
}
.pwv-contextbar .pwv-ToolbarButton,
.pwv-contextbar .pwv-ToolbarItem {
  min-height: 37.8px;
}
.pwv-contextbar .pwv-ToolbarButton > button,
.pwv-contextbar .pwv-ToolbarItem > button {
  min-height: 37.8px;
}
.pwv-contextbar:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-8px) rotate(45deg);
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  box-shadow: var(--pwv-drop-shadow-2);
  background-color: var(--pwv-ui-color-100);
  z-index: 1;
  display: none;
}
.pwv-contextbar-bottom .pwv-contextbar:after {
  top: -8px;
  display: block;
}
.pwv-contextbar-top .pwv-contextbar:after {
  bottom: -8px;
  display: block;
}

.pwv-icon svg {
  fill: currentColor;
}
.pwv-icon img {
  height: 1.13rem;
  max-width: 100%;
}

.pwv-Dropdown {
  cursor: default;
  position: relative;
}
.pwv-Dropdown > button {
  margin: 0;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 1em;
  height: 100%;
  width: 100%;
  color: inherit;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: solid 1px transparent;
  border-radius: 0.5rem;
  height: 42px;
  min-width: 42px;
  margin: 4px;
  background-color: var(--pwv-ui-color-100);
  color: var(--pwv-text-color);
  cursor: default;
  padding: 0 5px;
}
.pwv-Dropdown > button:focus {
  outline: none;
}
.pwv-Dropdown > button:enabled:hover {
  color: var(--pwv-text-color);
  background-color: var(--pwv-ui-color-200);
  border: solid 1px transparent;
}
.pwv-Dropdown > button:enabled:active {
  color: var(--pwv-brand-color-700);
  background-color: var(--pwv-ui-color-200);
  border: solid 1px transparent;
}
.pwv-Dropdown > button:enabled:active svg,
.pwv-Dropdown > button:enabled:active img {
  transform: scale(0.94);
}
.pwv-Dropdown > button:enabled:focus {
  color: var(--pwv-text-color);
  background-color: var(--pwv-ui-color-200);
  border: solid 1px transparent;
}
.pwv-Dropdown > button .pwv-Dropdown-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 4px 0 14px;
}
.pwv-Dropdown > button .pwv-Dropdown-text .pwv-icon {
  width: 18px;
}
.pwv-Dropdown > button .pwv-Dropdown-text .pwv-icon svg {
  height: 18px;
}
.pwv-Dropdown > button .pwv-Dropdown-caret {
  padding-left: 8px;
  display: inline-block;
}
.pwv-Dropdown > button .pwv-Dropdown-caret .pwv-icon {
  width: 1.2rem;
  text-align: right;
}
.pwv-Dropdown > button .pwv-Dropdown-caret .pwv-icon svg {
  height: 12px;
}
.pwv-Dropdown > button:focus {
  outline: none;
}
.pwv-Dropdown--open .pwv-DropdownPanel {
  display: block;
}
.pwv-DropdownItem {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
  padding: 0 1rem;
  min-height: 42px;
  background-color: var(--pwv-ui-color-100);
  color: var(--pwv-text-color);
  margin: 4px;
  min-height: 42px;
  width: calc(100% - 8px);
  border: none;
  border: solid 1px transparent;
  border-radius: 0.5rem;
}
.pwv-DropdownItem:hover {
  color: var(--pwv-brand-color-600);
  background-color: var(--pwv-ui-color-200);
  border: solid 1px transparent;
}
.pwv-DropdownItem .pwv-icon {
  display: inline-block;
  margin-right: 0.25rem;
  width: 1.5rem;
}
.pwv-DropdownItem .pwv-icon svg {
  height: 1rem;
  fill: currentColor;
}

.pwv-DropdownPanel {
  display: none;
  position: absolute;
  overflow-y: auto;
  top: 34px;
  min-width: 100%;
  box-shadow: var(--pwv-drop-shadow-2);
  z-index: 100;
  background-color: var(--pwv-ui-color-100);
}
.pwv-DropdownPanel.pwv-DropdownPanel--scroll {
  min-width: calc(100% + 20px);
}
.pwv-DropdownPanel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.pwv-DropdownPanel ul li {
  white-space: nowrap;
  cursor: pointer;
}
.pwv-DropdownPanel .pwv-Dropdown-item-text {
  white-space: nowrap;
}

.pwv-DropdownSeparator {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10.5px;
  width: 100% !important;
}
.pwv-DropdownSeparator span {
  display: block;
  background-color: var(--pwv-text-color);
  opacity: 0.2;
  width: 100%;
  flex-grow: 1;
  height: 1px;
  box-sizing: border-box;
}

.pwv-Dropdown--alignLeft {
  text-align: left;
}
.pwv-Dropdown--alignLeft > button {
  justify-content: space-between;
}
.pwv-Dropdown--alignLeft .pwv-DropdownPanel {
  left: 0;
}

.pwv-Dropdown--alignRight {
  text-align: right;
}
.pwv-Dropdown--alignRight > button {
  justify-content: flex-end;
}
.pwv-Dropdown--alignRight .pwv-DropdownPanel {
  right: 0;
  text-align: right;
}
.pwv-Dropdown--alignRight .pwv-DropdownItem {
  justify-content: flex-end;
}

.pwv-Dropdown--alignCenter {
  text-align: center;
}
.pwv-Dropdown--alignCenter > button {
  justify-content: center;
}
.pwv-Dropdown--alignCenter .pwv-DropdownPanel {
  right: 0;
}

.pwv-Loader {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
}
.pwv-Loader > div {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: solid 4px var(--pwv-ui-color-300);
  border-top-color: var(--pwv-ui-color-400);
  position: relative;
  animation: pwv-rotate 0.8s linear infinite;
}

@keyframes pwv-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.pwv-ColorPicker > button {
  padding: 0;
  flex-direction: column;
  justify-content: center;
}
.pwv-ColorPicker > button .pwv-icon {
  display: block;
  height: 18px;
}
.pwv-ColorPicker > button .pwv-icon svg {
  height: 15px;
}
.pwv-ColorPicker > button .pwv-ColorPicker__selectedColor {
  height: 5px;
  width: 20px;
}
.pwv-ColorPicker .pwv-DropdownPanel {
  left: 0;
  right: auto;
  width: 120px;
}
.pwv-ColorPicker .pwv-DropdownPanel.pwv-DropdownPanel-wide {
  width: 160px;
}

.pwv-ColorPicker--buttons {
  padding-left: 8px;
  padding-right: 8px;
}
.pwv-ColorPicker--buttons .pwv-ColorPicker__Button {
  margin: 3px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.pwv-ColorPicker__Button {
  position: relative;
  margin: 6px;
  border: solid 2px transparent;
  border-radius: 50%;
  padding: 0;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  overflow: hidden;
}
.pwv-ColorPicker__Button::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 40px;
  border: 1px solid var(--pwv-text-muted-color);
  transform: rotate(45deg);
  transform-origin: top left;
  z-index: 1;
}
.pwv-ColorPicker__Button::after {
  content: "";
  position: absolute;
  top: -1px;
  right: 0;
  width: 40px;
  border: 1px solid var(--pwv-text-muted-color);
  transform: rotate(-45deg);
  transform-origin: top right;
  z-index: 1;
}
.pwv-ColorPicker__Button:hover {
  border-color: var(--pwv-text-muted-color);
}
.pwv-ColorPicker__Button:active {
  border-color: var(--pwv-text-muted-color);
}
.pwv-ColorPicker__Button.pwv-selected {
  border-color: var(--pwv-text-color);
}
.pwv-ColorPicker__Button div {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.pwv-vertical-scrollbar,
.pwv-horizontal-scrollbar {
  cursor: default !important;
  z-index: 7;
  position: absolute;
  background-color: var(--pwv-ui-color-300);
}
.pwv-vertical-scrollbar > div,
.pwv-horizontal-scrollbar > div {
  position: absolute;
}

.pwv-scrollbar-handle {
  background-color: var(--pwv-ui-color-400);
  transition: background-color 0.5s;
}

.pwv-horizontal-scrollbar {
  bottom: 0;
  right: 0;
  left: 0;
  height: 4px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  transition: height 0.5s;
}
.pwv-horizontal-scrollbar .pwv-scrollbar-handle {
  height: 100%;
}

.pwv-vertical-scrollbar {
  width: 4px;
  top: 0;
  bottom: 0;
  right: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  transition: width 0.5s;
}
.pwv-vertical-scrollbar .pwv-scrollbar-handle {
  width: 100%;
}

.pwv-scrollbar-hover.pwv-vertical-scrollbar,
.pwv-scrollbar-dragging.pwv-vertical-scrollbar {
  width: 15px;
  transition: width 0.5s;
}
.pwv-scrollbar-hover.pwv-horizontal-scrollbar,
.pwv-scrollbar-dragging.pwv-horizontal-scrollbar {
  height: 15px;
  transition: height 0.5s;
}
.pwv-scrollbar-hover .pwv-scrollbar-handle,
.pwv-scrollbar-dragging .pwv-scrollbar-handle {
  background-color: var(--pwv-brand-color-500) !important;
  transition: background-color 0.5s;
}

.pwv-scrollbar-scrolling .pwv-scrollbar-handle {
  background-color: var(--pwv-brand-color-500);
  transition: background-color 0.5s;
}

.pwv-RangeSlider.pwv-Dropdown .pwv-Dropdown-text {
  padding: 0;
  width: 2.5rem;
  text-align: right;
}
.pwv-RangeSlider .pwv-Dropdown-label {
  margin-right: auto;
}
.pwv-RangeSlider .pwv-Dropdown-label .pwv-icon {
  width: 15px;
  display: inline-block;
  padding-top: 4px;
}
.pwv-RangeSlider .pwv-Dropdown-label .pwv-icon svg {
  height: 15px;
}
.pwv-RangeSlider button {
  justify-content: flex-end;
}

.pwv-stroke-width-picker {
  width: 115px;
}
.pwv-stroke-width-picker button {
  padding-left: 8px;
}
.pwv-stroke-width-picker button .pwv-stroke-width {
  width: auto;
  flex: 1;
  margin-left: 12px;
}

.pwv-stroke-width-picker-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.pwv-stroke-width {
  display: block;
  width: 40px;
  margin-top: 2px;
  background-color: currentColor;
}

.pwv-stroke-style-picker {
  width: 50px;
}
.pwv-stroke-style-picker-line .pwv-stroke-style-picker-button > span {
  height: 1;
  border-left: none;
  border-bottom: none;
  border-right: none;
}
.pwv-stroke-style-picker-circle .pwv-stroke-style-picker-button > span {
  border-radius: 50%;
}

.pwv-stroke-style-picker-button > span {
  display: block;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border-color: currentColor;
  border-width: 1px;
  border-style: solid;
}
.pwv-stroke-style-picker-button.pwv-stroke-style-dashed > span {
  border-style: dashed;
}

.pwv-stroke-style-picker-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 21px;
}
.pwv-stroke-style-picker-item:hover > span {
  border-top-color: var(--pwv-brand-color-500);
}
.pwv-stroke-style-picker-item > span {
  display: block;
  width: 40px;
  height: 2px;
  box-sizing: border-box;
  border-top-color: currentColor;
  border-top-width: 2px;
  border-top-style: solid;
}
.pwv-stroke-style-picker-item.pwv-stroke-style-dashed > span {
  border-top-style: dashed;
}

.pwv-opacityslider .pwv-Dropdown-text {
  width: 55px;
}

.pwv-Dropdown-line-width {
  width: 50px;
}
.pwv-Dropdown-line-width .pwv-DropdownPanel {
  width: 75px;
  min-width: 75px;
}
.pwv-Dropdown-line-width ul li {
  padding: 0 10px;
}
.pwv-Dropdown-line-width .pwv-line-width {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25px;
  padding: 0;
}
.pwv-Dropdown-line-width .pwv-line-width > div {
  width: 100%;
  background-color: var(--pwv-text-color);
}
.pwv-Dropdown-line-width .pwv-line-width:hover > div {
  background-color: var(--pwv-text-color);
}
.pwv-Dropdown-line-width button .pwv-line-width {
  width: 18px;
}
.pwv-Dropdown-line-width button .pwv-line-width > div {
  width: 18px;
}

.pwv-highlightannotation-toolbar {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
}
.pwv-highlightannotation-toolbar .pwv-contextbar::after {
  display: none;
}

.pwv-stampannotation-dropdown .pwv-DropdownPanel {
  width: 224px;
}
.pwv-stampannotation-dropdown .pwv-DropdownPanel.pwv-DropdownPanel--scroll {
  width: 244px;
}
.pwv-stampannotation-dropdown button img {
  max-height: 28px;
}
.pwv-stampannotation-dropdown ul img {
  max-height: 50px;
  max-width: 200px;
}

.pwv-eraserInfoBar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pwv-brand-color-500);
  color: var(--pwv-text-contrast-color);
}
.pwv-eraserInfoBar > span {
  margin-left: auto;
  font-weight: bold;
}
.pwv-eraserInfoBar .pwv-ToolbarButton {
  background-color: transparent;
  border: none;
  max-height: 31.5px;
  margin-left: auto;
  color: var(--pwv-text-contrast-color);
}
.pwv-eraserInfoBar .pwv-ToolbarButton:hover, .pwv-eraserInfoBar .pwv-ToolbarButton:active {
  background-color: transparent;
  color: var(--pwv-text-contrast-color);
}

.pwv-formField {
  position: absolute;
  z-index: 4;
  border: dotted 2px var(--pwv-selection-color);
}
.pwv-formField__Element {
  position: absolute;
  display: flex;
  transform-origin: top left;
  border: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  width: 100%;
}
.pwv-formField__ComboBox {
  background-color: var(--pwv-text-contrast-color);
}
.pwv-formField__ComboBox button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pwv-text-contrast-color);
  border: none;
}
.pwv-formField__ComboBox button:active {
  background-color: lime;
}
.pwv-formField__ComboBox .pwv-icon {
  display: block;
  height: 18px;
}
.pwv-formField__ComboBox .pwv-icon svg {
  height: 15px;
}
.pwv-formField__SelectList {
  background-color: var(--pwv-text-contrast-color);
}
.pwv-formField__ListBox {
  background-color: var(--pwv-text-contrast-color);
}
.pwv-formField__TextBox {
  background-color: var(--pwv-text-contrast-color);
  resize: none;
}

.pwv-ViewerCanvas {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
}

.pwv-canvas-toolbar {
  flex-grow: 0;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.pwv-canvas-toolbar .pwv-DropdownPanel {
  top: 38px !important;
}

.pwv-canvas-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
}
.pwv-canvas-container > * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pwv-canvas-layers {
  flex-grow: 1;
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  touch-action: none;
  background-color: var(--pwv-ui-color-200);
}
.pwv-canvas-layers > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.pwv-BusyLoader {
  position: absolute;
  bottom: 16px;
  left: 20px;
  right: 20px;
  z-index: 100;
}
.pwv-BusyLoader > div {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 42px;
  height: 21px;
  transition: all 300ms ease-in-out 0s;
  z-index: 1;
  margin: auto;
}
.pwv-BusyLoader > div .rect-1,
.pwv-BusyLoader > div .rect-2,
.pwv-BusyLoader > div .rect-3,
.pwv-BusyLoader > div .rect-4,
.pwv-BusyLoader > div .rect-5 {
  width: 15%;
  height: 100%;
  background-color: var(--pwv-brand-color-500);
  animation: rectangle-bounce 1s infinite ease-in-out;
}
.pwv-BusyLoader > div .rect-2 {
  animation-delay: -0.9s;
}
.pwv-BusyLoader > div .rect-3 {
  animation-delay: -0.8s;
}
.pwv-BusyLoader > div .rect-4 {
  animation-delay: -0.7s;
}
.pwv-BusyLoader > div .rect-5 {
  animation-delay: -0.6s;
}

@keyframes rectangle-bounce {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}
.pwv-annotation-selection {
  box-sizing: border-box;
  z-index: 5;
}
.pwv-annotation-selection .pwv-contextbar {
  position: absolute;
  left: 0;
  transition: opacity 0.3s;
}
.pwv-annotation-selection.pwv-contextbar-top .pwv-contextbar {
  top: -70px;
}
.pwv-annotation-selection.pwv-contextbar-bottom .pwv-contextbar {
  bottom: -70px;
}

.pwv-annotation-moving .pwv-annotation-border,
.pwv-annotation-resizing .pwv-annotation-border {
  border-style: dotted;
}
.pwv-annotation-moving .pwv-annotation-border-draghandle,
.pwv-annotation-resizing .pwv-annotation-border-draghandle {
  background-color: var(--pwv-selection-color);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.33;
}
.pwv-annotation-moving .pwv-contextbar,
.pwv-annotation-resizing .pwv-contextbar {
  opacity: 0;
  transition: opacity 0.1s;
}

.pwv-annotation-border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid var(--pwv-selection-color);
  box-sizing: border-box;
}

.pwv-annotation-border-draghandle {
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;
  border: none;
  cursor: move;
  z-index: 12;
}

.pwv-annotation-border-resizehandle-nw,
.pwv-annotation-border-resizehandle-ne,
.pwv-annotation-border-resizehandle-sw,
.pwv-annotation-border-resizehandle-se {
  position: absolute;
  border: 2px solid var(--pwv-selection-color);
  background-color: var(--pwv-selection-color);
  box-sizing: border-box;
  width: 16px;
  height: 16px;
}
.pwv-annotation-moving .pwv-annotation-border-resizehandle-nw,
.pwv-annotation-moving .pwv-annotation-border-resizehandle-ne,
.pwv-annotation-moving .pwv-annotation-border-resizehandle-sw,
.pwv-annotation-moving .pwv-annotation-border-resizehandle-se {
  display: none !important;
}
.pwv-annotation-resizing .pwv-annotation-border-resizehandle-nw,
.pwv-annotation-resizing .pwv-annotation-border-resizehandle-ne,
.pwv-annotation-resizing .pwv-annotation-border-resizehandle-sw,
.pwv-annotation-resizing .pwv-annotation-border-resizehandle-se {
  display: none !important;
}

.pwv-annotation-border-resizehandle-nw {
  top: -14px;
  left: -14px;
  cursor: nw-resize;
}

.pwv-annotation-border-resizehandle-ne {
  top: -14px;
  right: -14px;
  cursor: ne-resize;
}

.pwv-annotation-border-resizehandle-sw {
  bottom: -14px;
  left: -14px;
  cursor: sw-resize;
}

.pwv-annotation-border-resizehandle-se {
  bottom: -14px;
  right: -14px;
  cursor: se-resize;
}

.pwv-textselection-contextbar {
  position: absolute;
  top: 0;
  left: 0;
}
.pwv-textselection-contextbar .pwv-ColorPicker .pwv-icon {
  height: 18px;
}
.pwv-textselection-contextbar .pwv-ColorPicker .pwv-icon svg {
  height: 18px;
}
.pwv-textselection-contextbar .pwv-ColorPicker__selectedColor {
  display: none;
}

.pwv-popup {
  position: absolute;
  background-color: var(--pwv-ui-color-200);
  box-shadow: var(--pwv-drop-shadow-3);
  box-sizing: border-box;
  border: solid 0 transparent;
  z-index: 10;
  opacity: 0.75;
}
.pwv-popup:hover {
  opacity: 0.85;
}
.pwv-popup.pwv-popup-selected {
  opacity: 1;
  z-index: 12;
}
.pwv-mobile-popup .pwv-popup {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1 !important;
}

.pwv-popup-header .pwv-Toolbar {
  margin: 5px;
}

.pwv-popup-header-info {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  right: 0;
  bottom: 0;
  height: 25px;
  padding: 4px 25px 0 0.3rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 400;
}

.pwv-popup-header-modified {
  margin-right: 5px;
}

.pwv-popup-toolbar {
  background: var(--pwv-ui-color-200);
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 2;
}
.pwv-popup-toolbar .pwv-commandbar-item {
  width: 50px;
  height: 40px !important;
}

.pwv-popup-subject {
  position: absolute;
  top: 50px;
  left: 5px;
  right: 5px;
  height: 35px;
  z-index: 1;
}
.pwv-popup-subject input {
  color: var(--pwv-text-color);
  background: var(--pwv-text-contrast-color);
  border: none;
  padding: 0.3rem;
  box-sizing: border-box;
  font-size: 0.9rem !important;
  width: 100%;
  height: 100%;
}
.pwv-popup-subject div {
  display: flex;
  align-items: center;
  color: var(--pwv-text-color);
  background-color: var(--pwv-text-contrast-color);
  user-select: text;
  border: none;
  font-size: 0.9rem !important;
  padding: 0.3rem;
  box-sizing: border-box;
  height: 100%;
  user-select: text;
  overflow: auto;
}

.pwv-popup-content {
  position: absolute;
  top: 88px;
  left: 5px;
  right: 5px;
  bottom: 25px;
  z-index: 1;
}
.pwv-popup-content textarea {
  color: var(--pwv-text-color);
  background: var(--pwv-text-contrast-color);
  border: none;
  padding: 0.3rem;
  box-sizing: border-box;
  resize: none;
  font-size: 0.9rem !important;
  width: 100%;
  height: 100%;
}
.pwv-popup-content div {
  color: var(--pwv-text-color);
  background-color: var(--pwv-text-contrast-color);
  user-select: text;
  border: none;
  padding: 0.3rem;
  box-sizing: border-box;
  font-size: 0.9rem !important;
  height: 100%;
  user-select: text;
  overflow: auto;
  white-space: pre-wrap;
}

.pwv-popup-content-no-subject {
  top: 55px;
}

.pwv-popup-draghandle {
  position: absolute;
  top: 5px;
  right: 55px;
  left: 150px;
  height: 40px;
  z-index: 5;
  cursor: move;
}

.pwv-popup-resizer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 22px;
  height: 22px;
  cursor: se-resize;
  z-index: 5;
}
.pwv-popup-resizer::before, .pwv-popup-resizer::after {
  position: absolute;
  border-top: solid 2px var(--pwv-text-muted-color);
  content: "";
  box-sizing: border-box;
  transform: rotate(-45deg);
}
.pwv-popup-resizer::before {
  top: 8px;
  left: 8px;
  width: 12px;
  height: 12px;
}
.pwv-popup-resizer::after {
  top: 12px;
  left: 12px;
  width: 6px;
  height: 6px;
}

.pwv-popup-view-only .pwv-Toolbar {
  background: transparent;
}
.pwv-popup-view-only .pwv-Toolbar .pwv-ToolbarButton {
  width: 40px !important;
  height: 34px !important;
  margin-top: -4px;
  margin-right: -4px;
  color: inherit;
  background: transparent;
}
.pwv-popup-view-only .pwv-popup-draghandle {
  left: 2px;
  top: 2px;
  height: 34px;
}
.pwv-popup-view-only .pwv-popup-view-only-content {
  position: absolute;
  top: 34px;
  bottom: 24px;
  left: 0;
  right: 0;
  padding: 4px 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  user-select: text;
  background-color: rgba(255, 255, 255, 0.15);
}
.pwv-popup-view-only .pwv-popup-view-only-content h4 {
  margin: 0 0 4px 0;
}
.pwv-popup-view-only .pwv-popup-view-only-content div {
  font-weight: 400;
}
.pwv-popup-view-only .pwv-popup-header-info {
  padding-left: 10px;
}

.pwv-freetexteditor {
  /* border: solid 1px #999999; */
}

.pwv-freetexteditor-toolbar {
  position: absolute;
  top: -105px;
  left: 0;
}

.pwv-freetext-subject {
  display: flex;
  align-items: center;
  height: 42px;
  min-width: 42px;
  margin: 4px;
  background-color: var(--pwv-ui-color-100);
  color: var(--pwv-text-color);
}
.pwv-freetext-subject input {
  width: 220px;
  height: 30px;
  border: none;
  padding: 0.3rem;
  box-sizing: border-box;
  resize: none;
  font-size: 0.9rem !important;
}

.pwv-print-dialog {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  width: 300px;
  height: 200px;
  margin-left: -150px;
  margin-top: -100px;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: var(--pwv-drop-shadow-3);
}
.pwv-print-dialog input[type=radio] {
  display: none;
}
.pwv-print-dialog .pwv-print-radio {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 1px #008bd2 solid;
}
.pwv-print-dialog input[type=radio]:checked + .pwv-print-radio {
  background: #008bd2;
}
.pwv-print-dialog label > span {
  margin-right: 10px;
}

.pwv-print-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 28px;
}

.pwv-print-invalid-range-text {
  position: absolute;
  left: 110px;
  color: #ff0000;
  font-size: 8pt;
  display: none;
}

.pwv-print-title {
  font-size: large;
  font-weight: bold;
  display: flex;
  margin-bottom: 10px;
}
.pwv-print-title span {
  padding-right: 10px;
}

.pwv-print-body {
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 15px;
}

.pwv-print-bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
}
.pwv-print-bottom-center {
  justify-content: center;
}

.pwv-print-button-print {
  width: 100px;
  height: 30px;
  background-color: #008bd2;
  color: white;
  border: none;
  margin-left: 15px;
}

.pwv-print-button-cancel {
  width: 100px;
  height: 30px;
  border: solid 1px #008bd2;
  background-color: #ffffff;
}

.pwv-print-icon {
  display: block;
  height: 18px;
}
.pwv-print-icon svg {
  height: 18px;
}

.pwv-print-page-range {
  max-width: 140px;
  border: 1px #008bd2 solid;
}
.pwv-print-page-range.pwv-print-invalid-input {
  background: rgba(255, 108, 120, 0.4588235294);
}

.pwv-print-page-range::placeholder {
  font-style: italic;
  color: #999999;
}

body[data-pdfwebviewerprinting] #outerContainer {
  display: none;
}

body[data-pdfwebviewerprinting] #printContainer {
  display: block;
}

.pwv-WebViewer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  font-size: inherit;
  font-family: inherit;
  background-color: var(--pwv-ui-color-200);
}
.pwv-WebViewer > * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pwv-WebViewer input,
.pwv-WebViewer select,
.pwv-WebViewer textarea,
.pwv-WebViewer button {
  font-family: inherit;
  font-size: inherit;
  touch-action: manipulation;
}
.pwv-WebViewer input:focus,
.pwv-WebViewer select:focus,
.pwv-WebViewer textarea:focus,
.pwv-WebViewer button:focus {
  outline: none;
}

.pwv-Viewer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.pwv-ViewerContent {
  display: flex;
  height: 100%;
  z-index: 1;
  position: relative;
  flex-grow: 1;
}
.pwv-WebViewer--sm .pwv-ViewerContent {
  flex-direction: column;
}

.pwv-document-view {
  position: relative;
  display: flex;
  flex-grow: 1;
}
.pwv-document-view.pwv-annotationbar-top {
  flex-direction: column-reverse;
}
.pwv-document-view.pwv-annotationbar-bottom {
  flex-direction: column;
}

.pwv-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: var(--pwv-brand-color-500);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pwv-modal--loadApplication, .pwv-modal--loadFile, .pwv-modal--saveFile {
  background-color: transparent;
}
.pwv-modal--loadApplication .pwv-modal-dialog, .pwv-modal--loadFile .pwv-modal-dialog, .pwv-modal--saveFile .pwv-modal-dialog {
  background-color: transparent;
  border: none;
}
.pwv-modal--loadApplication .pwv-modal-dialog h2, .pwv-modal--loadFile .pwv-modal-dialog h2, .pwv-modal--saveFile .pwv-modal-dialog h2 {
  display: none;
}
.pwv-modal--loadApplication::before, .pwv-modal--loadFile::before, .pwv-modal--saveFile::before {
  content: " ";
  position: absolute;
  inset: 0;
  background-color: var(--pwv-ui-color-200);
  opacity: 0.5;
  z-index: 1;
}

.pwv-Viewer--loadFile button,
.pwv-Viewer--loadFile input,
.pwv-Viewer--loadFile .pwv-ToolbarButton,
.pwv-Viewer--loadFile .pwv-ToolbarItem,
.pwv-Viewer--loadFile .pwv-NavigationPanel__Content > div,
.pwv-Viewer--saveFile button,
.pwv-Viewer--saveFile input,
.pwv-Viewer--saveFile .pwv-ToolbarButton,
.pwv-Viewer--saveFile .pwv-ToolbarItem,
.pwv-Viewer--saveFile .pwv-NavigationPanel__Content > div {
  opacity: 0.5;
}

.pwv-modal-dialog {
  display: flex;
  flex-direction: column;
  text-align: left;
  z-index: 2;
  color: var(--pwv-text-contrast-color);
  border: dashed 2px var(--pwv-brand-color-400);
  border-radius: 20px;
  background-color: var(--pwv-brand-color-500);
}
.pwv-dropzone-dragover .pwv-openfile .pwv-modal-dialog {
  transition: border-color 0.3s;
  border: dashed 2px var(--pwv-brand-color-200);
}
.pwv-WebViewer--sm .pwv-modal-dialog {
  width: 100%;
  margin: 20px;
}
.pwv-WebViewer--md .pwv-modal-dialog {
  width: 600px;
}
.pwv-WebViewer--lg .pwv-modal-dialog {
  width: 760px;
}

.pwv-modal-header {
  padding: 0.25rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.pwv-modal-header h2 {
  display: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 200;
  opacity: 1;
}
.pwv-modal-header .pwv-icon {
  padding-top: 2rem;
}
.pwv-modal-header .pwv-icon svg {
  height: 70px;
  fill: var(--pwv-text-contrast-color);
  opacity: 0.75;
}

.pwv-modal-body {
  text-align: center;
  padding: 2rem;
}
.pwv-WebViewer--sm .pwv-modal-body {
  padding: 1rem;
}
.pwv-modal-body .pwv-modal-message {
  font-size: 1.25em;
  margin: 0 0 2rem 0;
}
.pwv-modal-body .pwv-modal-message p {
  margin: 0 0 0.25em 0;
  padding: 0;
}
.pwv-modal-body .pwv-modal-message h2 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 200;
  opacity: 0.75;
  margin: 0;
  padding: 0;
}
.pwv-modal-body .pwv-form-row {
  padding: 0 0 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pwv-modal-body .pwv-form-field {
  background-color: var(--pwv-text-contrast-color);
  position: relative;
  width: 60%;
}
.pwv-WebViewer--sm .pwv-modal-body .pwv-form-field {
  width: calc(100% - 1rem);
}
.pwv-modal-body .pwv-form-field .pwv-input {
  position: relative;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  width: 100%;
  height: 2.2rem;
  line-height: 2rem;
  padding: 0 0.5rem;
  text-align: center;
  z-index: 2;
  color: var(--pwv-text-color);
}
.pwv-modal-body .pwv-form-field .pwv-form-error {
  display: flex;
  background-color: var(--pwv-ui-color-200);
  height: 2.2rem;
  justify-content: center;
  align-items: center;
  color: red;
}
.pwv-modal-body .pwv-form-field .pwv-form-error .pwv-icon {
  margin-right: 0.5rem;
}
.pwv-modal-body .pwv-form-field .pwv-form-error .pwv-icon svg {
  height: 1rem;
}
.pwv-modal-body .pwv-form-field.pwv-form-has-error .pwv-form-error {
  display: flex;
}

.pwv-modal-body-noborder {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pwv-AppBar .pwv-Toolbar {
  margin-bottom: 2px;
}

.pwv-DocumentBar {
  margin-right: auto;
}

.pwv-WebViewer--sm .pwv-NavigationBar .pwv-ToolbarButton {
  min-width: 21px;
}

.pwv-WebViewer--sm .pwv-ZoomBar {
  display: none;
}

.pwv-WebViewer--sm .pwv-ViewBar {
  display: none;
}

.pwv-AddonsBar {
  margin-left: auto;
}

.pwv-SearchBar {
  justify-content: flex-end;
}
.pwv-WebViewer--md .pwv-SearchBar, .pwv-WebViewer--sm .pwv-SearchBar {
  margin-top: -44px;
}

.pwv-AnnotationMenu .pwv-DropdownPanel {
  right: 0;
}

.pwv-search-toolbar-result-index {
  padding: 0 10px;
  min-width: 100px;
  text-align: center;
}

.pwv-navigation-toolbar-pageinput {
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
  justify-content: space-between;
}
.pwv-navigation-toolbar-pageinput input {
  width: 2.2rem;
  text-align: right;
  background-color: transparent;
  color: var(--pwv-brand-color-500);
  padding-left: 0;
  padding-right: 0.2rem;
}
.pwv-navigation-toolbar-pageinput input:hover, .pwv-navigation-toolbar-pageinput input:focus {
  background-color: #ffffff;
}
.pwv-navigation-toolbar-pageinput > span {
  display: block;
  padding: 3px;
}
.pwv-navigation-toolbar-pageinput > label {
  display: block;
  min-width: 2.2rem;
  padding-left: 0.2rem;
}

.pwv-Dropdown-zoom {
  width: 84px;
}
.pwv-Dropdown-zoom > button {
  justify-content: flex-end;
}
.pwv-Dropdown-zoom.pwv-Dropdown .pwv-Dropdown-text {
  padding: 0 4px 0 4px;
}

.pwv-page-layout-mode .pwv-DropdownPanel {
  left: auto;
  right: 0;
}

.pwv-page-layout-mode-item {
  display: flex;
  align-items: center;
}

.pwv-page-layout-mode-icon {
  display: block;
  height: 1rem;
}
.pwv-page-layout-mode-icon svg {
  height: 1rem;
}

.pwv-WebViewer.pwv-WebViewer--sm .pwv-canvas-toolbar .pwv-Toolbar {
  margin-top: -44px;
}

.pwv-searchbar-input {
  padding: 0 10px;
}
.pwv-searchbar-input input {
  padding: 0 5px;
  border: none;
  min-width: 250px;
  height: 32px;
  line-height: 32px;
}
.pwv-WebViewer--sm .pwv-searchbar-input input {
  min-width: 150px;
  width: 150px;
}

.pwv-searchoptions .pwv-checkbox-btn {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: nowrap;
  width: 100%;
  height: 42px;
  font-size: 1em;
  padding: 4px;
  white-space: nowrap;
}
.pwv-searchoptions .pwv-checkbox-btn .pwv-icon {
  display: block;
  height: 18px;
  margin-right: 6px;
}
.pwv-searchoptions .pwv-checkbox-btn .pwv-icon svg {
  height: 18px;
  fill: var(--pwv-brand-color-500);
}
.pwv-searchoptions .pwv-DropdownPanel {
  min-width: 150px;
  padding: 8px;
  z-index: 5;
}
.pwv-searchoptions .pwv-DropdownPanel li {
  padding: 4px;
}

.pwv-NavigationPanel {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  transition: width 0.5s;
}
.pwv-WebViewer--md .pwv-NavigationPanel {
  width: 0;
  padding-left: 2px;
}
.pwv-WebViewer--lg .pwv-NavigationPanel {
  width: 0;
  padding-left: 2px;
}
.pwv-WebViewer--sm .pwv-NavigationPanel {
  display: none;
  border-top: solid 1px var(--pwv-ui-color-200);
}
.pwv-NavigationPanel--open {
  transition: width 0.5s;
}
.pwv-WebViewer--md .pwv-NavigationPanel--open {
  width: 260px;
}
.pwv-WebViewer--lg .pwv-NavigationPanel--open {
  width: 320px;
}
.pwv-WebViewer--sm .pwv-NavigationPanel--open {
  display: flex;
  height: 280px;
  min-height: 50%;
  max-height: 50vh;
}
.pwv-WebViewer--sm .pwv-NavigationPanel--open .pwv-Toolbar {
  min-height: auto;
}
.pwv-NavigationPanel__Box {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.pwv-WebViewer--md .pwv-NavigationPanel__Box {
  width: 260px;
}
.pwv-WebViewer--lg .pwv-NavigationPanel__Box {
  width: 320px;
}
.pwv-NavigationPanel__Content {
  margin-top: 2px;
  background-color: var(--pwv-ui-color-100);
  display: flex;
  position: relative;
  flex: 1;
  overflow: auto;
}
.pwv-WebViewer--md .pwv-NavigationPanel__Content {
  width: 260px;
}
.pwv-WebViewer--lg .pwv-NavigationPanel__Content {
  width: 320px;
}
.pwv-NavigationPanel__Content > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.pwv-WebViewer--sm .pwv-NavigationPanel__Content {
  margin-top: 0;
}
.pwv-NavigationPanel__NoItems {
  text-align: center;
  margin-top: 2rem;
  font-size: 1rem;
  color: var(--pwv-text-muted-color);
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.pwv-ItemLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
}
.pwv-ItemLoader:before {
  content: " ";
  width: 18px;
  height: 18px;
  border: 2px solid var(--pwv-ui-color-300);
  border-top-color: var(--pwv-ui-color-400);
  border-radius: 50%;
  animation: rotate 0.9s infinite linear;
}

@keyframes pageRotationFadeInDelay {
  0%, 75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pwv-thumbnail-navigation ul {
  list-style: none;
  margin: 18px 0 30px 0;
  padding: 0;
}
.pwv-thumbnail-navigation li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 260px;
  position: relative;
}
.pwv-thumbnail-navigation li .pwv-page-nr {
  color: var(--pwv-text-color);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
}
.pwv-thumbnail-navigation li .pwv-page-placeholder {
  height: 200px;
  width: 145px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pwv-thumbnail-navigation li .pwv-page-placeholder,
.pwv-thumbnail-navigation li img {
  max-width: 200px;
  max-height: 200px;
  box-sizing: content-box;
  box-shadow: var(--pwv-drop-shadow-1);
  transition: box-shadow 0.25s;
  cursor: pointer;
}
.pwv-WebViewer--sm .pwv-thumbnail-navigation li .pwv-page-placeholder, .pwv-WebViewer--md .pwv-thumbnail-navigation li .pwv-page-placeholder,
.pwv-WebViewer--sm .pwv-thumbnail-navigation li img,
.pwv-WebViewer--md .pwv-thumbnail-navigation li img {
  max-width: 180px;
  max-height: 180px;
}
.pwv-thumbnail-navigation li .pwv-page-placeholder:hover,
.pwv-thumbnail-navigation li img:hover {
  transition: box-shadow 0.25s;
  box-shadow: var(--pwv-drop-shadow-2);
}
.pwv-thumbnail-navigation li.pwv-selected .pwv-page-placeholder,
.pwv-thumbnail-navigation li.pwv-selected img {
  border: 2px solid var(--pwv-brand-color-500);
}
.pwv-thumbnail-navigation li .pwv-page-rotation {
  position: absolute;
  bottom: 2rem;
  opacity: 0;
  transition: opacity 0.25s;
  background-color: var(--pwv-ui-color-100);
  box-shadow: var(--pwv-drop-shadow-2);
}
.pwv-thumbnail-navigation li .pwv-page-rotation button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--pwv-text-color);
  height: 40px;
  min-height: 40px;
}
.pwv-thumbnail-navigation li .pwv-page-rotation button:hover {
  color: var(--pwv-text-color);
}
.pwv-thumbnail-navigation li .pwv-page-rotation button svg {
  height: 1rem;
}
.pwv-thumbnail-navigation li:hover .pwv-page-rotation {
  animation: pageRotationFadeInDelay 0.5s ease-in;
  opacity: 1;
}
.pwv-thumbnail-navigation-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.pwv-outline-navigation {
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem;
}
.pwv-WebViewer--sm .pwv-outline-navigation, .pwv-WebViewer--md .pwv-outline-navigation {
  font-size: 0.9rem;
}
.pwv-outline-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pwv-outline-navigation ul ul {
  padding-left: 14px;
}
.pwv-outline-navigation li {
  margin: 0;
  padding: 0;
}
.pwv-outline-navigation li > div {
  display: flex;
  padding: 8px 2px;
}

.pwv-outline-tree-indent,
.pwv-outline-tree-btn-expand,
.pwv-outline-tree-btn-collapse {
  display: block;
  flex-shrink: 0;
  text-align: center;
  height: 16px;
  width: 18px;
  box-sizing: border-box;
  padding: 0;
  margin: 0 2px 0 0;
  border: none;
}

.pwv-outline-tree-btn-expand,
.pwv-outline-tree-btn-collapse {
  cursor: pointer;
}
.pwv-outline-tree-btn-expand .pwv-icon,
.pwv-outline-tree-btn-collapse .pwv-icon {
  height: 12px;
}
.pwv-outline-tree-btn-expand .pwv-icon svg,
.pwv-outline-tree-btn-collapse .pwv-icon svg {
  height: 12px;
}

.pwv-outline-tree-btn-collapse .pwv-icon svg {
  fill: var(--pwv-brand-color-500);
}

.pwv-outline-tree-lnk {
  display: block;
  cursor: pointer;
  transition: 0.15s;
}
.pwv-outline-tree-lnk:hover {
  transition: 0.15s;
  color: var(--pwv-brand-color-500);
}

.pwv-annotation-navigation {
  padding: 1rem;
  margin: 0;
}
.pwv-annotation-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0 0 24px 0;
}
.pwv-annotation-navigation h4 {
  margin: 12px 0 8px 4px;
}

.pwv-annotation-navigation-item {
  position: relative;
  margin: 10px 0;
  padding: 6px 0 6px 0;
  background-color: #ffffff;
  border: solid 2px transparent;
  transition: box-shadow 0.3s;
  cursor: pointer;
  box-shadow: var(--pwv-drop-shadow-1);
}
.pwv-annotation-navigation-item.pwv-selected {
  border: solid 2px var(--pwv-brand-color-500);
}
.pwv-annotation-navigation-item.pwv-deleted {
  opacity: 0.5;
}
.pwv-annotation-navigation-item:hover {
  transition: box-shadow 0.3s;
  box-shadow: var(--pwv-drop-shadow-2);
}
.pwv-annotation-navigation-item > div {
  margin: 8px 10px;
}
.pwv-annotation-navigation-item > div:first-child {
  display: flex;
  align-items: center;
}
.pwv-annotation-navigation-item > div:first-child .pwv-icon {
  height: 18px;
  width: 24px;
  margin-right: 4px;
}
.pwv-annotation-navigation-item > div:first-child .pwv-icon svg {
  height: 18px;
}
.pwv-annotation-navigation-item time {
  font-style: italic;
  font-size: 0.9rem;
  display: inline-block;
}
.pwv-annotation-navigation-item .pwv-author {
  font-style: italic;
  font-size: 0.9rem;
  font-weight: 500;
  display: inline-block;
  margin-right: 4px;
}
.pwv-annotation-navigation-item .pwv-author:after {
  content: ",";
}
.pwv-annotation-navigation-item p,
.pwv-annotation-navigation-item h5 {
  padding: 0;
  margin: 0 0 4px 0;
  font-size: 16px;
}
.pwv-annotation-navigation-item .pwv-icon {
  height: 18px;
}
.pwv-annotation-navigation-item .pwv-icon svg {
  height: 18px;
}
.pwv-annotation-navigation-item .pwv-icon.pwv-locked-icon {
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.pwv-annotation-navigation-item .pwv-icon.pwv-locked-icon svg {
  fill: var(--pwv-text-muted-color);
}
.pwv-annotation-navigation-item .pwv-ms-custom-history-list {
  border-top: solid 1px var(--pwv-text-color);
}
.pwv-annotation-navigation-item .pwv-ms-custom-history-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pwv-annotation-navigation-item .pwv-ms-custom-history-list li {
  margin: 12px 0;
}
.pwv-annotation-navigation-item .pwv-ms-custom-history-list li > div:first-child {
  display: flex;
  color: var(--pwv-text-muted-color);
}
.pwv-annotation-navigation-item .pwv-ms-custom-history-list li .pwv-icon {
  height: 13px;
  width: 17px;
  margin-right: 6px;
}
.pwv-annotation-navigation-item .pwv-ms-custom-history-list li .pwv-icon svg {
  width: 17px;
  height: 13px;
}
.pwv-annotation-navigation-item .pwv-ms-custom-history-content {
  margin-left: 23px;
}

.pwv-overflow-ellipsis {
  padding-bottom: 5px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pwv-annotationbar {
  display: flex;
  align-content: flex-start;
  flex-grow: 0;
  background-color: var(--pwv-ui-color-100);
  color: var(--pwv-text-color);
}
.pwv-annotationbar-left .pwv-annotationbar {
  order: -1;
  margin-right: 2px;
  flex-direction: column;
  width: 50px;
  padding-top: 10px;
}
.pwv-annotationbar-right .pwv-annotationbar {
  margin-left: 2px;
  flex-direction: column;
  width: 50px;
  padding-top: 10px;
}
.pwv-annotationbar-top .pwv-annotationbar {
  margin-bottom: 2px;
  height: 50px;
}
.pwv-annotationbar-bottom .pwv-annotationbar {
  order: -1;
  margin-top: 2px;
  height: 50px;
}

.pwv-devicetype-mobile .pwv-annotationbar {
  flex-wrap: wrap;
  padding-right: 50px;
  height: auto !important;
}

.pwv-mobile-hide-annotationbar .pwv-annotationbar {
  display: none;
}

#outerContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

#printContainer {
  display: none;
}

@media print {
  /* General rules for printing. */
  body {
    height: 200px;
  }
  .page {
    float: left;
    display: none;
    border: 200px;
    box-shadow: none;
    background-clip: content-box;
    background-color: rgb(255, 255, 255);
  }
  .page[data-loaded] {
    display: block;
  }
  /* Rules for browsers that support PDF.js printing */
  body[data-pdfwebviewerprinting] #outerContainer {
    display: none;
  }
  body[data-pdfwebviewerprinting] #printContainer {
    display: block;
  }
  #printContainer {
    height: auto;
  }
  /* wrapper around (scaled) print canvas elements */
  #printContainer > div {
    position: relative;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: visible;
    page-break-after: always;
    page-break-inside: avoid;
  }
  #printContainer canvas,
  #printContainer img {
    direction: ltr;
    display: block;
  }
}